/* ---- NAVEGADOR ----*/
/*Posicionamiento flex*/

/*Especificidad: 001*/
nav {
  display: flex;
  flex-wrap: wrap; /*Uso de wrap para ajustar los ítems al espacio*/
  justify-content: center;
  background-color: #061433;
  color: #dddddd;
}

/*Especificidad: 002*/
nav a {
  padding: 1em;
  background-color: #061433;
  color: #dddddd;
  text-decoration-line: none;
}

/*Cambio de color cuando se pone el cursor sobre el botón*/
/*Especificidad: 012*/
nav a:hover {
  background-color: #dddddd;
  color: #061433;
}

/*Especificidad: 012*/
nav a[class="actual"] {
  background-color: #dddddd;
  color: #061433;
}

/* -----Párrafos, títulos, secciones, encabezados y pie de página ------*/

/*Especificidad: 001*/
body {
  font-family: arial, sans-serif;
  color: #000000;
  background-color: #fff;
  margin: 0;
}

/*Especificidad: 001*/
h1 {
  color: #fff;
  background-color: #061433;
  text-transform: uppercase;
  padding: 0.3em;
  text-align: center;
}

/*Especificidad: 001*/
main {
  padding: 0.2em 5em;
}

/*Especificidad: 001*/
footer {
  text-align: center;
  font-size: small;
  padding: 0.2em;
  margin-top: 1.5em;
  background-color: #061433;
  color: white;
}

/*Especificidad: 002*/
footer a {
  color: #ddddddb4;
  background-color: #061433;
}

/* ---- LISTAS ---- */

/*Especificidad: 001*/
dt {
  font-weight: bold;
  font-style: italic;
}

/* ----- IMÁGENES Y VIDEO ------*/

/*Especificidad: 001*/
img {
  min-width: 20em;
  width: 30%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
  height: auto;
  display: flex; /*Centrado de imagen - contenedor flexible*/
  margin: auto; /*Centrado de imagen*/
}

/*Especificidad: 001*/
video {
  max-width: 60%;
  height: auto;
  display: flex; /*Centrado de video - contenedor flexible*/
  margin: auto; /*Centrado de video*/
}

/* ---- TABLA ----*/

/*Especificidad: 001*/
table {
  width: 80%;
  margin: auto; /*Centrado de tabla*/
}

/*Especificidad: 001*/
th,
td {
  text-align: center;
  border: 0.1em solid #061433;
}

/*Especificidad: 001*/
td {
  background: #eee;
  color: #000000;
}

/*Especificidad: 001*/
th {
  background: #aaacb6;
  color: #000000;
}

/*Especificidad: 001*/
figcaption,
caption {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
