/*Especificidad: 001*/
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 70vw;
    margin: auto;
}

/*Especificidad: 001*/
input{
    padding: 0.2em 1em;
}

/*Especificidad: 001*/
button{
    background-color: #061433;
    color: white;
    border-radius: 0.8em;
    cursor: pointer;
    margin: auto;
    padding: 0.5em 1em;
  }